<!--
 
 Copyright 2018 University of Padua, Italy
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 
 Author: Edoardo Furlan(edoardo.furlan.1@studenti.unipd.it)
 Version: 1.0
 Since: 1.0
-->

<!-- qui importo le librerie per jsp 
<%@ page contentType="text/html;charset=utf-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
-->

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="example web application for exam simulation">
    <meta name="author" content="Edoardo Furlan">

    <title>TITOLO</title>

    <!-- importo css, sia fonti esterne che il mio file 
    se vado in jsp l'import locale diviene:

    <link href="<c:url value="/css/NOMEFILE.css"/>" rel="stylesheet">
    -->

  </head>
    <body>
        
        <!-- Se serve prima di prendere dei risultati da un servlet in jsp -->
        <!-- display the message -->
		<!-- <c:import url="/jsp/include/show-message.jsp"/> -->

        <!-- Per prendere i valori da una risposta -->
        <!--
             <c:if test='${not empty employeeList}'>
                <c:forEach var="employee" items="${employeeList}">
						<tr>
							<td><c:out value="${employee.badge}"/></td>
							<td><c:out value="${employee.surname}"/></td>
						</tr>
					</c:forEach>
            </c:if> 
        -->


        <!-- appena prima della fine del body importo js, fonti esterne e locali
            nel caso di locale con jsp diventa:
            <script src="<c:url value="/js/NOMEFILE.js"/>"></script>
        -->
    </body>
</html>