
@charset "UTF-8";
/* CSS Document */

.addMargin {
	margin: 2em 0em 2em 0em;	
}

#page_title {
	font-size: 4em;
	color: #810f7c;
}

#button_search {
	color: white;
	background-color: #810f7c;
}

tr:hover {
	background-color: rgba(140,107,177, 0.5)!important;
}

.containerOver {
	margin-top: 4em;
}
