/* BLUE #3D52AD */
/* YELLOW #F8D900 */
/* DARK YELLOW #FFC100*/

/* Style for the input of the form tag */
.form-control-plaintext {
	display: block;
	width: 100%;
	padding-top: .375rem;
	padding-left: .375rem;
	padding-bottom: .375rem;
	margin-bottom: 0;
	line-height: 1.5;
	color: #212529;
	background-color: white;
	border: 1px solid lightgray;
}

/* Use this to import the font for the links in the top navigation bar
@font-face {
	font-family: "Burbank Big Condensed", Burbank Big Condensed Bold;
	src: url('../resource/font/BurbankBigCondensed-Bold.woff') format('woff'),
		 url(''../resource/font/BurbankBigCondensed-Bold.ttf') format('truetype');
}
*/

/* Style for the links in the top navigation bar */
.burbank {
	font-family: "Burbank Big Condensed", Burbank Big Condensed Bold;
	font-style: normal;
	font-size: 35px;
	font-color: #FFC100 ;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/* Top navigation bar */
.topnav {
    background-color: #3D52AD;
    overflow: hidden;
	width:100%;
	font-size: 20px;
	padding:.5rem 1rem
}

/* IronJobs logo in the top navigation bar */
.topnav-logo {
	max-width: 10em;
}

/* Links inside the top navigation bar */
.topnav a {
	float: left;
	color:#FFC100;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-align: center;
}

/* Change the color of links inside the navigation bar on hover */
.topnav a:hover {
	color: #FFFFFF;
}

/* Login section inside the navigation bar */
.topnav-right {
	float: right;
}

/* Login button */
.login_button {
	color: #FFC100 ;
	font-family: "Burbank Big Condensed", Burbank Big Condensed Bold;
	background-color: transparent;
	font-style: normal;
	font-size: 35px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	border-color: transparent;
}

/* Login button on hover */
.login_button:hover {
	font-style: normal;
	font-size: 35px;
	color: #FFFFFF ;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: "Burbank Big Condensed", Burbank Big Condensed Bold;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
}

/* Login form */
.loginForm {
	background-color: rgb(240, 240, 240);
	border: 1px solid;
	border-color: #000000;
	color: black;
	padding: 12px 12px 12px 12px;
}

/* Display inline */
.inlineDivContainer {
	display: inline-flex;
}

/* Display inline and give a bound to the height of all the direct img */
div.inlineDivContainer > img {
	max-height: 400px;
}

/* Style for the citation in the main page */
.maincit {
	color: #3D52AD;
	letter-spacing: 1px;
	font-size: 60px;
	font-weight: bold;
	margin-top: 100px;
	margin-left: 100px;
}

/* Style for the list with swords as bullets */
ul.sword-bullet-list {
	color: #3D52AD;
	letter-spacing: 1px;
	font-size: 31px;
	font-weight: bold;
	list-style-type: none;
	padding-left: 30px;
}

/* Style for each bullet of the swords list */
li.sword {
	background: url('../resource/sword-bullet.png') no-repeat left top;
	height: 54px;
	margin-bottom: 55px;
	padding-left: 44px;
	padding-top: 3px;
}

/* Footer logos banner */
.logos {
	margin-bottom: 20px !important;
	width: 100%;
	text-align: center;
}

/* Style for the img of the logos banner */
.logos img {
	max-height: 100px;
	margin: 30px;
}

/* Specific style for the questions table */
.table-questions {
	max-width: 70%;
}

.table-questions tbody th {
	font-weight: normal;
	min-width: 100px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Specific style for the search bar */
.searchInput {
	width: 400px;
}

.ratingFieldset {
	display: inline-block;
}

.ratingFieldset input[type="radio"] {
	margin-right: 10px;
	height: 2em;
	width: 2em;
}

/* Avatar specifications */
.avatar label > input {
	visibility: hidden;
	position: relative;
} 

/* Avatar specifications */
.avatar label > input + img {
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: 2px solid transparent;
}

/* Avatar specifications */
.avatar label > input:checked + img {
	width: 60px;
	height: 60px;
	background-color: rgba(105, 105, 105, 0.3);
}

.competences label > input {
	visibility: hidden;
	position: relative;
}

.competences label > input + div {
	height: 40px;
	cursor: pointer;
	border: 2px solid transparent;
	background: #3D52AD;
	opacity: .8;
}

.competences label > input:checked + div {
	height: 40px;
	background: #F8D900;
	opacity: .6;
	color : #3D52AD;
	text-shadow: -0.5px 0 #3D52AD, 0 0.5px #3D52AD, 0.5px 0 #3D52AD, 0 -0.5px #3D52AD;
}

.mybtn-primary {
	color: #fff;
	background-color: #3D52AD;
	border-color: #3D52AD;
}

.mybtn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.mybtn-primary:focus {
    background: red;
}
    
.mybtn-primary:active {
    background: purple !important; 
}

.clickable:hover
{
	cursor: pointer;
}

.categoriesContainer
{
	margin-left: 40px;
}

.categoriesContainer label
{
	margin-left: 20px;
}

.categoriesContainer input[type="checkbox"]
{
	height: 1.2em;
	width: 1.2em;
}

.btn-lg{
	margin-top:10px
}

.green-upvotes{
	color: rgb(0, 221, 0);
}

.red-downvotes{
	color: rgb(255, 0, 0);
};

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	display: none;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	display: none;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}