/* Question page */
.addMargin {
	margin: 2em 2em 2em 2em;
}

.containerOver {
	margin-top: 3em;
}

.solutionText {
   width: 50%;
}

.user {
   width: 10%;
}

.votes {
   width: 7%;
}

.tags {
   width: 30%;
}

.writeTime {
   width: 15%;
}

.questionTitle {
   text-decoration: underline;
   font-size: 2em;
}

.questionBody {
   background-color: #ffffff !important;
   font-size: large;
}

.tagsTable {
    width: 100%;
}

.topPading {
   margin-top: 1em;
}

.backButton {
   margin-bottom: 2em;
}

.username {
   text-align: center;
}
