<!--
 Author: Andrea Tommasi
 Version: 1.0
 Since: 1.0
-->
<!--
<%@ page contentType="text/html;charset=utf-8" %>
<%@ taglib prefix="c" uri="Desktop/webapp-unipd/exam-simulation-client-side/src/main/webapp" %>
-->

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="example web application for exam simulation">
	<meta name="author" content="Nicola Ferro">
	<meta name="author" content="Maria Maistro">

	<title>MyToys</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="../css/style.css"/>
  </head>

  <body>
	
	<div class="container containerOver">

	<header>
		<div class="row">
			<div class="col-md-10 text-center">
				<h1 id="page_title">MyToys Catalog</h1>
			</div>

			<div class="col-md-2">
				<figure class="figure">
					<img src="../figure/mytoys_logo.png"/>
				</figure>
			</div>
		</div>
	</header>

	<div class="content">

		<nav class="nav nav-tabs" id="myTab" role="tablist">
			<a class="nav-item nav-link " id="nav-create-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false">Create</a>
			<a class="nav-item nav-link active" id="nav-browse-tab" data-toggle="tab" href="#nav-browse" role="tab" aria-controls="nav-browse" aria-selected="true">Browse</a>
			<a class="nav-item nav-link" id="nav-search-tab" data-toggle="tab" href="#nav-search" role="tab" aria-controls="nav-search" aria-selected="false">Search</a>
		</nav>


		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade addMargin" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
				Still under construction.
			</div>

			<!-- Sezione Browser -->
			<div class="tab-pane fade addMargin" id="nav-browse" role="tabpanel" aria-labelledby="nav-browse-tab">
						<div class="container">
							<br><h1>List of Games</h1><br><hr>
							<!-- Question Table Section, done as in the exam solution -->
							<!-- Here we prepare the space for the question table, and for the categories list -->
							<div class="row text-center">
									<div class="col-md-9">
										<div id="table-results"></div>
									</div>
							</div>
						</div>
						<br>
			</div>
			<!-- FINE -->

			<div class="tab-pane fade show active addMargin" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab">
				Still under construction
			</div>
		</div>	  
	  
	</div> <!-- End of Content-->

	</div><!-- /.container -->

	<!-- Bootstrap, Popper, and JQuery JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
	<script src="<c:url value="/js/mytoys.js"/>"></script>
  </body>
</html>